<h1>Manager Point to Dollar Conversion Rate</h1>

<p>The current Point to Dollar conversion rate is <%= Redemption.discount %>%</p>

<%= form_tag(update_discount_path, method: :put) do %>
	<div class="field">
		<%= label_tag :discount, "Modify point to dollar conversion rate" %>
		<%= select_tag :discount, options_for_select(Redemption.discounts, Redemption.discount) %>
	</div>
	<div class="actions">
		<%= submit_tag %>
	</div>
<% end %>