<h1>Listing redemptions</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Discount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @redemptions.each do |redemption| %>
      <tr>
        <td><%= redemption.customer %></td>
        <td><%= redemption.date %></td>
        <td><%= redemption.amount %></td>
        <td><%= redemption.discount %></td>
        <td><%= link_to 'Show', redemption %></td>
        <td><%= link_to 'Edit', edit_redemption_path(redemption) %></td>
        <td><%= link_to 'Destroy', redemption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redemption', new_redemption_path %>
