<p>
  <strong>Customer:</strong>
  <%= @redemption.customer %>
</p>

<p>
  <strong>Date:</strong>
  <%= @redemption.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @redemption.amount %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @redemption.discount %>
</p>

<%= link_to 'Edit', edit_redemption_path(@redemption) %> |
<%= link_to 'Back', redemptions_path %>
