<h1>Manager Home Page</h1>

<p>Select an option:</p>
<ol>
	<li><%= link_to "New Customer", new_customer_path %></li>
	<li><%= link_to "Existing Customer", search_customers_path %></li>
	<li><%= link_to "New Employee", new_employee_path %></li>
	<li><%= link_to "Manage Employees", employees_path %></li>
	<li><%= link_to "Point to Dollar Conversion Rate", edit_discount_path %></li>
	<li><%= link_to "Reports", reports_path %></li>
</ol>