<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>All fields are required.</h2>
  <div class="employee_form">
    <div class="fields_1">
      <div class="field">
        <%= f.label :fname %><br>
        <%= f.text_field :fname, required: :required %>
      </div>
      <div class="field">
        <%= f.label :lname %><br>
        <%= f.text_field :lname, required: :required %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email, required: :required %>
      </div>
      <div class="field">
        <%= f.label :manager %><br>
        <%= f.check_box :manager %>
      </div>
      <div class="field password">
        <p>Please verify all entered information and enter a personal password below:</p>
        <%= f.label :password %><br>
        <%= f.text_field :password, required: :required %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
    <div class="fields_2">
      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address, required: :required %>
      </div>
      <div class="field">
        <%= f.label :city %><br>
        <%= f.text_field :city, required: :required %>
      </div>
      <div class="field">
        <%= f.label :state %><br>
        <%= f.text_field :state, required: :required %>
      </div>
      <div class="field">
        <%= f.label :zip %><br>
        <%= f.number_field :zip, required: :required %>
      </div>
    </div>
  </div>
<% end %>
