<h1>Manager Manage Employees Page</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Employee First Name</th>
      <th>Employee Last Name</th>
      <th>Employee Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.fname %></td>
        <td><%= employee.lname %></td>
        <td><%= employee.manager ? "Manager" : "Associate" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Remove', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
