<p>
  <strong>Customer:</strong>
  <%= @purchase.customer %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @purchase.employee %>
</p>

<p>
  <strong>Date:</strong>
  <%= @purchase.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @purchase.amount %>
</p>

<p>
  <strong>Square ref:</strong>
  <%= @purchase.square_ref %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
