<h2>Purchase History</h2>

<table class="table table-hover">
  <thead>
    <th>Date</th>
    <th>Total Amount</th>
  </thead>
  <tbody>
  <% @customer.purchases.order("date DESC").each do |purchase| %>
    <tr>
      <td><%= purchase.date.strftime("%m/%d/%Y") %></td>
      <td><%= number_to_currency(purchase.amount) %></td>
    </tr>
  <% end %>    
  </tbody>
</table>