<h2>Points Redemption History</h2>

<table class="table table-hover">
  <thead>
    <th>Date</th>
    <th>Points Redeemed</th>
  </thead>
  <tbody>
  <% @customer.redemptions.order("date DESC").each do |redemption| %>
    <tr>
      <td><%= redemption.date.strftime("%m/%d/%Y") %></td>
      <td><%= redemption.amount %></td>
  <% end %>    
  </tbody>
</table>