<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Email</th>
      <th>Email2</th>
      <th>Email3</th>
      <th>Phone</th>
      <th>Phone2</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Twitter</th>
      <th>Dob</th>
      <th>Dlnumber</th>
      <th>Lifetime points</th>
      <th>Current points</th>
      <th>Password</th>
      <th>Pass date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.fname %></td>
        <td><%= customer.lname %></td>
        <td><%= customer.email %></td>
        <td><%= customer.email2 %></td>
        <td><%= customer.email3 %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.phone2 %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip %></td>
        <td><%= customer.twitter %></td>
        <td><%= customer.dob %></td>
        <td><%= customer.dlnumber %></td>
        <td><%= customer.lifetime_points %></td>
        <td><%= customer.current_points %></td>
        <td><%= customer.password %></td>
        <td><%= customer.pass_date %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
