<h1>Search for Existing Customer</h1>

<p>Search by Last Name or Email</p>

<%= form_tag(search_customers_path, method: :get) do  %>
	<div class="field">
		<%= label_tag :lname, "Last Name" %><br>
		<%= text_field_tag :lname %>
	</div>
	<div class="field">
		<%= label_tag :email, "Email" %><br>
		<%= text_field_tag :email %>
	</div>
	<div class="actions">
		<%= submit_tag :Search %>
	</div>
<% end %>