// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customer_details {
	font-size: 1.25em;
	padding: 1.618em 0;
	.edit_customer { margin-top: 1.618em; }
}

.customer_tables, .customer_actions {
	display: table;
	width: 100%;
	.purchases_table, .redemptions_table,
	.purchases_actions, .redemptions_actions {
		display: table-cell;
		width: 50%;
	}
	.purchases_table, .purchases_actions {
		padding-right: 1em;
	}
	.redemptions_table, .redemptions_actions {
		padding-left: 1em;
	}
}

.customer_form {
	display: table;
	width: 100%;
	.fields_1, .fields_2 {
		display: table-cell;
		width: 50%;
	}
	.field.password {
		p { font-size: 1.25em; }
	}
}