<%= form_for(@adjustment) do |f| %>
  <% if @adjustment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adjustment.errors.count, "error") %> prohibited this adjustment from being saved:</h2>

      <ul>
      <% @adjustment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Customer <%= @customer %></p>
  <p>Lifetime points: <%= @customer.lifetime_points %></p>

  <%= hidden_field :customer, :id %>
  <%= f.hidden_field :customer_id %>
  <%= f.hidden_field :employee_id %>

  <div class="field">
    <%= label :customer, :current_points %>
    <%= number_field :customer, :current_points %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.select :reason, Adjustment.reasons %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
