<p>
  <strong>Customer:</strong>
  <%= @adjustment.customer %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @adjustment.employee %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @adjustment.reason %>
</p>

<%= link_to 'Edit', edit_adjustment_path(@adjustment) %> |
<%= link_to 'Back', adjustments_path %>
