<h1>Points Modified Report</h1>
<h3><%= @title %></h3>

<div class="table_area">
	<table class="table table-hover">
		<thead>
			<th>Customer First Name</th>
			<th>Customer Last Name</th>
			<th>Customer Email</th>
			<th>Adjustment Amount</th>
			<th>Employee Last Name</th>
			<th>Date</th>
		</thead>
		<tbody>
		<% @adjustments.each do |adjustment| %>
	    <tr>
	      <td><%= adjustment.customer.fname %></td>
	      <td><%= adjustment.customer.lname %></td>
	      <td><%= adjustment.customer.email %></td>
	      <td><%= adjustment.change %></td>
	      <td><%= adjustment.employee.lname %></td>
	      <td><%= adjustment.created_at.strftime("%m/%d/%Y") %></td>
	     </tr>
	  <% end %>    
	  </tbody>
	</table>
</div>