<h1>Points Modification Report</h1>
<h3>Select your criteria</h3>

<%= form_tag reports_adjustments_path, method: :get do %>

	<div class="fields date_range">
		<h4>Date Range</h4>
		<div class="field">
			<%= label_tag :from, "From" %><br>
			<%= date_field_tag :from %>
		</div>
		<div class="field">
			<%= label_tag :to, "To" %><br>
			<%= date_field_tag :to %>			
		</div>
		<div class="field">
			<%= label_tag :reason, "Reason (leave blank for all)" %><br>
			<%= select_tag :reason, options_for_select(Adjustment.reasons), {include_blank: true} %>
		</div>
		<div class="actions">
			<%= submit_tag "Generate" %>
			<%= submit_tag "Export as CSV", name: :csv %>
		</div>
	</div>

<% end %>