<h1>Customer Listing Report</h1>
<h3><%= @title %></h3>

<div class="table_area">
	<table class="table table-hover">
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Email 2</th>
			<th>Email 3</th>
			<th>Phone</th>
			<th>Phone 2</th>
			<th>Twitter</th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
			<th>ZIP</th>
			<th>DOB</th>
			<th>DL Number</th>
			<th>Current Points</th>
			<th>Lifetime Points</th>
			<th>Password</th>
			<th>Password Date</th>
		</thead>
		<tbody>
		<% @customers.each do |customer| %>
	    <tr>
	      <td><%= customer.fname %></td>
	      <td><%= customer.lname %></td>
	      <td><%= customer.email %></td>
	      <td><%= customer.email2 %></td>
	      <td><%= customer.email3 %></td>
	      <td><%= customer.phone %></td>
	      <td><%= customer.phone2 %></td>
	      <td><%= customer.twitter %></td>
	      <td><%= customer.address %></td>
	      <td><%= customer.city %></td>
	      <td><%= customer.state %></td>
	      <td><%= customer.zip %></td>
	      <td><%= customer.dob %></td>
	      <td><%= customer.dlnumber %></td>
	      <td><%= customer.current_points %></td>
	      <td><%= customer.lifetime_points %></td>
	      <td><%= customer.password %></td>
	      <td><%= customer.pass_date %></td>
	    </tr>
	  <% end %>    
	  </tbody>
	</table>
</div>