<h1>Points Redeemed Report</h1>
<h3><%= @title %></h3>

<div class="table_area">
	<table class="table table-hover">
		<thead>
			<th>Customer First Name</th>
			<th>Customer Last Name</th>
			<th>Customer Email</th>
			<th>Points Redeemed</th>
			<th>Employee Last Name</th>
			<th>Date</th>
		</thead>
		<tbody>
		<% @redemptions.each do |redemption| %>
	    <tr>
	      <td><%= redemption.customer.fname %></td>
	      <td><%= redemption.customer.lname %></td>
	      <td><%= redemption.customer.email %></td>
	      <td><%= redemption.amount %></td>
	      <td><%= redemption.employee.lname %></td>
	      <td><%= redemption.date.strftime("%m/%d/%Y") %></td>
	     </tr>
	  <% end %>    
	  </tbody>
	</table>
</div>